
# Dependencias
node_modules/
dist/
build/

# Mac OS System Files
.DS_Store
.AppleDouble
.LSOverride

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración y Secretos (¡MUY IMPORTANTE!)
config.ts
.env
.env.*
!.env.example
